<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      The Titan Ground | Instructions
    </title>
    <meta name="author" content="Cale Sennett">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://npmcdn.com/tachyons@4.0.0-beta.12/css/tachyons.min.css">
  </head>
  <body class="sans-serif" ng-app="TheTitanGround">
    <div class="pv1 pv2-ns tc">
      <h1 class="f3 f1-ns ttu tracked">The Titan Ground</h1>
    </div>
 
    <div class="mw5 mw7-ns tc ph5-ns center">
      <div class="dim" plangular="https://soundcloud.com/anasinho-ii/arvo-p-rt-spiegel-im-spiegel">
        <img ng-click="playPause()" src="/images/01.jpg" class="w-100 h4" alt="The Titan Ground" />
      </div>
      <div class="tl">
        <p>Take a moment to yourself</p>
        <p class="b f2">to walk on the Titan Ground.</p>
      </div>
    </div>

    <div plangular="https://soundcloud.com/leendah/ocean-waves-crashing-on-the" class="fr ma4">
      <p class="f6 tl mb1">waves</p>
      <img ng-click="playPause()" class="fl w2" src="/images/ocean.png" />
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://d2v52k3cl9vedd.cloudfront.net/plangular/3.0.1/plangular.min.js"></script>
    <script>
      var app = angular.module('TheTitanGround', ['plangular'])
        .config(function(plangularConfigProvider) {
          plangularConfigProvider.clientId = '35df67f3c7b1a0db0fc1ced6fddc3ea1';
        });
    </script>
  </body>
</html>
